.advert {
margin-top: 75px;
}

.advert__content {
 
}
.advert__title {
    font-weight: 700;
    font-size: 36px;
    color: #000;
}
.advert__nav-text {
    font-weight: 600;
    font-size: 17px;
    color: #fb8f1d;
}
.advert__list {
    display: flex;
 column-gap: 25px;
 margin-top: 124px;
}
.advert__item {

}

.advert__main-title{
    display: flex;
    column-gap: 720px;
}

.advert__item img{
 
}
