.advert {
margin-top: 75px;
}

.advert__content {

}
.advert__title {
    font-family: var(--fontplay);
    font-weight: 700;
    font-size: 36px;
    color: #000;
}
.advert__nav-text {
    font-family: var(--fontint);
    font-weight: 600;
    font-size: 17px;
    color: #fb8f1d;
    text-wrap: nowrap;
}
.advert__list {
    display: flex;
 column-gap: 25px;
 margin-top: 124px;
 justify-content: center;

}
.advert__item {

}

.advert__main-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.advert__item img{
 
}


@media(max-width:800px){
    .advert__list{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    
}