.footer {

}
.container {

}
.footer__block-text {

}
.footer__text {

}
.footer__text-info {

}
.footer__list {

}
.footer__item {

}
.footer__line {
    width: 1219px;
    height: 0px;
    background-color: #c4c4c4;
}
.footer__img {

}