.wrapper-menu {
background: #f15525;
height: 100vh;

}
.menu-close {
display: flex;
justify-content: end;
margin-right: 40px;
}
.menu-close1 {
border-radius: 4px;
width: 7px;
height: 44px;
background: #fff;
transform: rotate(46deg);
}
.menu-close2 {
border-radius: 4px;
width: 7px;
height: 44px;
background: #fff;
transform: rotate(-49deg);
}
.menu-list {
display: flex;
row-gap: 105px;
flex-direction: column;
margin-top: 120px;
}
.menu-item {
font-family: var(--fontint);
font-weight: 400;
font-size: 20px;
line-height: 104%;
text-align: center;
color: #fff; 
}

.menu-item:last-child{
    margin-bottom: 100px;
}
